#root {
  max-width: 1280px;
  height: fit-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Poppins, sans-serif;
}

.styling {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}